# Sistema operacional
.DS_Store
Thumbs.db

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.history/

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp
*.bak
*.swp

# Build
dist/
build/
out/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.env/

# PlantUML cache (se gerar local)
*.cache
